
@{
    ViewBag.Title = "停車證: 清除期別所有人員";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>清除期別所有人員</h2>
    </div>
    @using (Html.BeginForm())
    {
        <div class="panel-body">

            <div class="form-group">
                <label>停車證期別</label>
                <input type="text" name="setNo" class="form-control" />
            </div>
            <div class="form-group">
                <label>停車證類別</label>
                <select name="CarType" class="form-control" role="combobox">
                    @foreach (var item in ViewBag.CarType)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" value="確定清除" />
        </div>
    }
</div>

